In [30]:
import pandas as pd

data = {'Fruit': ['Apple', 'Banana', 'Melon', 'Orange'],
     'Color':['red', 'yellow', 'green', 'orange'],
     'Price':[1000, 3000, 5000, 2500]
     }


df = pd.DataFrame(data)

df.Color = df.Color.str.upper()
df.Fruit = df.Fruit.str.lower()
df.head()
# df.columns = ['name','age','job']

df.columns = ['과일이름', '색깔', '가격']
df.head()

     과일이름      색깔    가격
0   apple     RED  1000
1  banana  YELLOW  3000
2   melon   GREEN  5000
3  orange  ORANGE  2500

In [18]:
import os

BASE_DIR = os.getcwd()
print(BASE_DIR)

/Users/jinhyeju/Desktop/coding/dataAnalyze/dataAnalyze_python/Web Crawling

In [20]:
import pandas as pd

s1 = pd.core.series.Series(['one','two','three'])
s2 = pd.core.series.Series([1,2,3])

pd.DataFrame(data=dict(word=s1, num=s2))

    word  num
0    one    1
1    two    2
2  three    3

In [26]:
df = pd.read_csv('/Users/jinhyeju/Documents/GitHub/pandas/data/friend_list_no_head.csv', header = None)

df.head()
df.columns = ['name','age','job']
print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern